* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000dc;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid #fff;
    display: block;
    margin: 0 auto;
}
